// .example {
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
//     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//   line-height: 1.5;
//   background-color: #fff;
//   color: #2f2f37;
//   max-width: 960px;
//   padding: 16px;
// }

// .example code {
//   font-family: monospace;
//   font-size: 16px;
//   font-weight: 700;
//   background-color: #ff6b0a;
//   color: #fff;
//   padding: 2px 6px;
//   border-radius: 2px;
// }

// .example .background {
//   height: 240px;
//   // ❗️❗️❗️ The path to images from a SASS file
//   // is always the same as from the css folder.
//   background-image: url('../images/logo.png');
//   background-size: cover;
//   background-position: center;
// }


ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.page-heder {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
  background: #004899;
}





.hero {
  // padding-top: 200px;
  // padding-bottom: 200px;
  // max-width: 1600px;
  // height: auto;
  // // background-color: $color-background-secondary;
  // background-size: cover;
  // text-align: center;
  // // background-image: linear-gradient(to right,
  // //         rgba(47, 48, 58, 0.4),
  // //         rgba(47, 48, 58, 0.4)),
  // //     url("../image/hero.jpg");

  // margin-left: auto;
  // margin-right: auto;
  position: relative;
  text-align: center;
  color: white;

}

.hero__title {   
  // color: $color-primary;
  // font-weight: 900;
  font-size: 44px;
  // line-height: 1.36;
  // text-transform: uppercase;
  // margin-top: 0px;
  // margin-bottom: 40px;
  // width: 696px;
  // height: 120px;
  // margin-left: auto;
  // margin-right: auto;
  // letter-spacing: 0.06em;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.hero__button {
  background-color: RoyalBlue;
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  // background-color: #555;
  // color: white;
  // font-size: 16px;
  // padding: 12px 24px;
  // border: none;
  // cursor: pointer;
  // border-radius: 5px;

}