.page-heder {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    background: #004899;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    text-indent: 20px;
  }